/* Index */
@import url("core.css");

/* init */
a {
    margin: 0;
}

b {
    color: var(--MainColor);
}

h1 {
    color: var(--MainColor);
}
/* end init */


/* buttons */
.Btn {
    transition: filter, transform 0.2s;
    /* cursor: url(../cursor/cursorSel.png), auto !important; */
}

.Btn:hover {
    filter: brightness(1.10);
    transform: scale(1.02);
}

.Btn:active {
    filter: brightness(1);
    transform: scale(0.98);
}
/* end buttons */

/* wrapper */


/* main container */
main {
    margin-top: 70px;
    margin-left: 20%;
    margin-right: 20%;
}
/* the containers for each section */
/* inside main container */
#logo {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* makes padding stay inside the div */
    box-sizing: border-box;
}

#info {
    border-top: var(--border);
    padding: 10px 30px;
    width: 100%;
    display: flex;
    /* makes padding stay inside the div */
    box-sizing: border-box;
}

.main {
    border: var(--border);
}


/* end containers */