/* Setup */
:root {
    --NotFoundColor: white;
    --IndexColor: rgb(121, 68, 173);
    --IndexColorAlt: rgb(77, 43, 110);
    --IndexColorMainText: rgb(2, 117, 117);
    --IndexBackgroundColor: rgba(255, 255, 255, 0.356);
}

@font-face {
    font-family: 'VeniceClassic';
    src: url('../fonts/VeniceClassic.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RetroGaming';
    src: url('../fonts/RetroGaming.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#indexBody {
    margin: 0px;
    background-image: url('../images/image.jpg'); /* Light mode background */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transition: background-image 0.4s ease;
}

/* Dark Mode Variables */
:root.dark {
    --IndexBackgroundColor: rgba(0, 0, 0, 0);
}

#indexBody.dark {
    background-image: url(../images/starsBackground.gif);
    background-repeat: repeat;
    background-size: 300px;
}

/* New page */
/* Not found */
#NotFoundBody {
    font-family: 'RetroGaming';
    text-align: center;
    background-image: url(../images/NotFoundBackground.png);
    color: var(--NotFoundColor);
}

html, #NotFoundPageDiv {
    height: 100%;
    cursor: url(../cursor/CursorZombie.png), auto !important;
}

#NotFoundPicture:hover {
    cursor: url(../cursor/PointerZombie.png), auto !important;
}

/* New Page */
/* Index */
.container {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'RetroGaming';
}

.container p {
    color: var(--IndexColorMainText);
}

.container h1 {
    color: var(--IndexColor);
}
/* Menu */
#menuTd {
    width: 300px;
    vertical-align: top;
}

.navBar {
    background-color: var(--IndexBackgroundColor);
    box-shadow: 0 0 0 2px var(--IndexBackgroundColor);
    border: 2px solid var(--IndexColor);
    padding: 5px;
    margin: 2px;
    margin-bottom: 6px;

    display: flex;
    flex-direction: column;
}

.navBar a {
    color: var(--IndexColorAlt);
}

.navBar a:hover {
    color: var(--IndexColor);
}
/* Main */
#mainTd {
    width: 900px;
    vertical-align: top;
}

.mainDiv {
    background-color: var(--IndexBackgroundColor);
    box-shadow: 0 0 0 2px var(--IndexBackgroundColor);
    border: 2px solid var(--IndexColor);
    padding: 5px;
    margin: 2px;
    margin-bottom: 6px;
}